html
    head
        title My Home Page 
        style 
            include ../../style.css
body
    div
        include ../partials/header.pug

    div.rContainer
        h1 Home Page
        h1 Welcome to The Prancing Pony Restraunt Management API
    
