html
    head
        title My Home Page 
        style 
            include ../../style.css
body
    script(src='client.js')
    div
        include ../partials/header.pug

    div.LoginContainer
        each val in results
            div.orderC
                a(href=`http://127.0.0.1:3000/users/${val._id}`) #{val.username}