html
    head
        title User Profile 
        style 
            include ../../style.css

body
    //- script(src='client.js')
    div
        include ../partials/header.pug
    
    div.LoginContainer
        div.orderC
            h3 #{results.username}